<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0"><meta name=apple-mobile-web-app-capable content=yes><title>员工系统</title><style type=text/css>body {
        padding-top: constant(safe-area-inset-top);   //为导航栏+状态栏的高度 88px
      padding-left: constant(safe-area-inset-left);   //如果未竖屏时为0
      padding-right: constant(safe-area-inset-right); //如果未竖屏时为0
      padding-bottom: constant(safe-area-inset-bottom);//为底下圆弧的高度 34px
      }</style><link href=/static/css/app.5491f243d9224278c0018972e2ec18e7.css rel=stylesheet></head><body><div id=app-box></div><script type=text/javascript src=/static/js/manifest.9e093a3bc72a3f17bf33.js></script><script type=text/javascript src=/static/js/vendor.69ff448222f021301bdd.js></script><script type=text/javascript src=/static/js/app.a5ed35a0007cfa552d91.js></script></body></html>